# Git Ignore

# Android
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab

# Firebase
app/google-services.json
google-services.json

# Sensitive
local.properties
*.keystore
*.jks

# Tooling
.trae
admin-panel.worktrees
